.customer-form {
  box-sizing: border-box;
  width: 486px;
  // height: 1875px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input-file-container {
      .camera {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: fit-content;
        padding: 10px;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
        .icon {
        }
        .title {
          margin: 5px;
        }
        .required-text{
          margin: 5px;
        }
        .loader{
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-125%);
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
      .result{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        p{
          margin: 0;
        }
      }
    }
  }
}
