<div class="registration-form">
  <h2>Registration Form</h2>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
    <div class="form-group">
      <label for="full-name">Full name:</label>
      <input type="text" id="full-name" name="full-name" ngModel required>
    </div>
    <div class="form-group">
      <!-- <label for="preffered-language">Preffered language:</label>
      <input type="email" id="preffered-language" name="preffered-language" ngModel required> -->
      <label for="language">Preferred language:</label>
      <select id="language" formControlName="language" ngModel required>
        <option value="">Select...</option>
        <option value="en">English</option>
        <option value="es">Spanish</option>
        <option value="fr">French</option>
        <!-- Add more options for other languages -->
      </select>
    </div>
    <div class="form-group">
      <label for="phone-number">Phone number:</label>
      <input type="tel" id="phone-number" name="phone-number" ngModel required>
    </div>
    <div class="form-group">
      <!-- <label for="phone-number">Phone number:</label> -->
      <input type="file" id="face" name="face" accept="image/*" capture="camera" ngModel required>
    </div>
    <!-- <input type="file" accept="image/*" capture="camera" (change)="handlePhotoCapture($event)"> -->

    <!-- <button (click)="openCamera()">Take a selfie</button> -->
    <button type="submit" [disabled]="!registrationForm.valid">Register</button>
  </form>
  {{form|json}}
  <!-- {{capturedPhoto}} -->
</div>
